                                           /* if th viewport is equal to 300px or less than that  */
                                           
                                           @media screen and (max-width:400px) {
                                               body {
                                                   background: rgba(34, 241, 34, 0.15)
                                               }
                                               body,
                                               .header_area,
                                               .main-menu,
                                               .navbar,
                                               .navbar-brand {
                                                   width: 40%;
                                                   padding: 0;
                                                   margin: 1px;
                                                   display: block;
                                               }
                                               .para {
                                                   font-size: 8px;
                                                   text-align: center;
                                               }
                                               .services-list {
                                                   margin-top: 7em;
                                               }
                                               .years-area h2,
                                               span {
                                                   width: 100%;
                                                   margin-left: 0;
                                                   margin-right: 10px;
                                                   text-align: center;
                                                   flex: inline;
                                               }
                                               .services-area h5,
                                               .services-area p,
                                               .services-area img {
                                                   width: 100%;
                                                   /* height: 150px; */
                                                   margin: 2px 3px;
                                                   text-align: center;
                                               }
                                               .project-area,
                                               .project-area img {
                                                   width: 100%;
                                                   padding: 1px 1px;
                                                   margin-left: auto;
                                                   margin-right: auto;
                                               }
                                               .site-main .about-area .client .about-client h4 {
                                                   font: normal 500 21px/20px var(--roboto);
                                               }
                                               .site-main .about-area .client .about-client p {
                                                   font-size: 5px;
                                               }
                                               /* #btn1,
                                       .button-group {
                                           text-align: center;
                                           margin: auto;
                                           display: flex;
                                           justify-content: center;
                                           align-items: center;
                                       } */
                                               .suscribe-us-area .suscribe-title h4 {
                                                   width: 350px;
                                                   text-align: center;
                                                   font-size: 10px;
                                                   margin-left: 0;
                                               }
                                               .suscribe-us-area .suscribe-title p {
                                                   width: 350px;
                                                   text-align: center;
                                                   font-size: 20px;
                                                   margin-left: 0;
                                               }
                                               footer {
                                                   width: 100%;
                                               }
                                               footer .footer-area .social a {
                                                   /* width: 450px;*/
                                                   display: inline;
                                                   padding: 1rem;
                                                   margin: 1px;
                                               }
                                               footer.footer-area .social a:hover>i {
                                                   color: var(--primary-color);
                                               }
                                               .site-main,
                                               .container {
                                                   overflow: hidden;
                                               }
                                           }
                                           /* if th viewport is equal to 700px or less than that  */
                                           
                                           @media screen and (max-width: 700px) {
                                               body {
                                                   background: rgb(43, 226, 150);
                                               }
                                               body,
                                               .header_area,
                                               .main-menu,
                                               .navbar,
                                               .navbar-brand {
                                                   width: 10px;
                                                   padding: 0;
                                                   display: block;
                                               }
                                               .para {
                                                   font-size: 15px;
                                                   text-align: center;
                                               }
                                               .services-area h5,
                                               .services-area p,
                                               .services-area img {
                                                   width: 140px;
                                                   height: 80px;
                                                   margin: 2px 0;
                                                   padding: 1px 3px;
                                                   text-align: center;
                                               }
                                               .project-area,
                                               .project-area h1,
                                               .project-area img {
                                                   width: 100%;
                                                   padding: 1px 1px;
                                                   margin-left: auto;
                                                   margin-right: auto;
                                               }
                                               .site-main,
                                               .container {
                                                   overflow: hidden;
                                               }
                                           }
                                           /* if th viewport is equal to 1024px or less than that  */
                                           
                                           @media screen and (max-width:1024px) {
                                               /* body {
                                           background: rgb(187, 185, 194);
                                       } */
                                               body,
                                               .header_area,
                                               .main-menu,
                                               .navbar,
                                               .navbar-brand {
                                                   width: 100%;
                                                   display: block;
                                               }
                                               h1,
                                               h2,
                                               h3,
                                               h4 {
                                                   font-size: 20px;
                                               }
                                               .para {
                                                   font-size: 18px;
                                                   text-align: center;
                                               }
                                               .services-area h5,
                                               .services-area p,
                                               .services-area img {
                                                   width: 100%;
                                                   /* height: 150px; */
                                                   margin: 2px 3px;
                                                   text-align: center;
                                               }
                                               .site-main,
                                               .container {
                                                   overflow: hidden;
                                               }
                                           }