                                                /* imporg fonts from fonts.css file */
                                                
                                                @import url(./fonts.css);
                                                /* css Variables */
                                                
                                                @import url(./partials/_variables.css);
                                                /* important global styling */
                                                
                                                @import url(./partials/_global.css);
                                                /* start navigation */
                                                
                                                .header_area .main-menu .navbar .navbar-brand {
                                                    padding: 0;
                                                    margin: 2px;
                                                }
                                                
                                                .header_area .main-menu .nav-item .nav-link {
                                                    font: normal 300 15px/2px var(--roboto);
                                                    text-transform: uppercase;
                                                    padding: 10px;
                                                    color: var(--title-color);
                                                }
                                                
                                                .header_area .main-menu .nav-item .active a {
                                                    background: var(--gradient-color);
                                                    -webkit-background-clip: text;
                                                    -webkit-text-fill-color: transparent;
                                                    background-clip: text;
                                                }
                                                
                                                .header_area .main-menu .navbar-nav .active {
                                                    color: blueviolet;
                                                }
                                                
                                                .header_area .main-menu .navbar-nav a:hover {
                                                    background: var(--gradient-color);
                                                    -webkit-background-clip: text;
                                                    -webkit-text-fill-color: transparent;
                                                    background-clip: text;
                                                }
                                                /* end navigation */
                                                /* Start Banner area  */
                                                
                                                .site-main .site-banner {
                                                    background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
                                                }
                                                
                                                .site-main .site-banner .site-title h3 {
                                                    font-size: 24px;
                                                    font-weight: 500;
                                                }
                                                
                                                .site-main .site-banner .site-title h3::after {
                                                    content: " ";
                                                    height: 2px;
                                                    width: 18vw;
                                                    background: black;
                                                    display: inline-block;
                                                    margin-left: 5%;
                                                    transform: translateY(-10px);
                                                }
                                                
                                                .site-main .site-banner .site-title h1 {
                                                    font-size: 24px;
                                                }
                                                
                                                .site-main .site-banner .site-title h4 {
                                                    font-size: 1.5rem;
                                                }
                                                
                                                .site-main .site-banner .banner-image>img {
                                                    padding: 7rem 0;
                                                    width: 15rem;
                                                }
                                                /* End Banner Area  */
                                                /* Start About Area */
                                                
                                                .site-main .about-area {
                                                    padding: 4rem 5rem;
                                                }
                                                
                                                .site-main .about-area .about-title h2>span {
                                                    display: block;
                                                    font: normal bold 24px/26px var(--roboto);
                                                    letter-spacing: 20px;
                                                }
                                                
                                                .site-main .about-area .about-title .paragraph>p {
                                                    padding: .4rem 0;
                                                }
                                                /* End About Area */
                                                /* =========   Start Brand Area ========= */
                                                
                                                .site-main .brand-area {
                                                    padding: 1rem 2rem;
                                                    margin-bottom: 4rem;
                                                }
                                                
                                                .site-main .brand-area .first-row .col-lg-4 {
                                                    display: flex;
                                                    justify-content: center;
                                                }
                                                
                                                .site-main .brand-area .first-row .col-lg-4>.single-brand {
                                                    border: 1px solid var(--border-color);
                                                    text-align: center;
                                                    padding: 1.8rem 0rem;
                                                    margin: 1.9rem 0;
                                                    width: 180px;
                                                    height: 100px;
                                                    cursor: pointer;
                                                    transition: transform .4s ease;
                                                }
                                                
                                                .brand-area .first-row .col-lg-4>.single-brand>img {
                                                    width: 40%;
                                                }
                                                
                                                .brand-area .first-row .col-lg-4>.single-brand:hover {
                                                    box-shadow: var(--box-shadow);
                                                    transform: scale(0.1);
                                                }
                                                
                                                .brand-area .first-row .col-lg-4>.single-brand:hover>img {
                                                    filter: brightness(0.15);
                                                }
                                                
                                                .brand-area .experience-area {
                                                    padding-left: 1rem;
                                                }
                                                
                                                .site-main .brand-area .experience-area span {
                                                    display: block;
                                                }
                                                
                                                .experience-area {
                                                    position: relative;
                                                }
                                                
                                                .brand-area .experience-area .years-area {
                                                    background: url(../img/client.png) no-repeat 45px 20px;
                                                    padding: 2rem 0;
                                                    width: 40rem;
                                                    height: 18rem;
                                                    padding-left: 8rem;
                                                }
                                                
                                                .brand-area .experience-area .bg-pannel {
                                                    position: absolute;
                                                    left: -190px;
                                                    top: 0%;
                                                    background: #e029290a;
                                                    width: 400px;
                                                    height: 400px;
                                                    margin-left: 340px;
                                                    z-index: -1;
                                                }
                                                
                                                .brand-area .experience-area .years-area .years {
                                                    font: normal bold 84px/40px var(--roboto);
                                                    color: var(--primary-color2);
                                                    z-index: 2;
                                                }
                                                
                                                .brand-area .experience-area .years-area h2>span {
                                                    font: normal 600 22px/30px var(--roboto);
                                                    text-align: center;
                                                }
                                                
                                                .brand-area .experience-area .call-area {
                                                    padding-left: 2rem;
                                                }
                                                /* =========   End Brand Area ========= */
                                                /* services Area */
                                                
                                                .site-main .services-area {
                                                    padding: 3rem 2rem;
                                                }
                                                
                                                .site-main .services-area .services-title {
                                                    padding: 2px 2rem;
                                                }
                                                
                                                .site-main .services-area .services-title h1 {
                                                    font: normal 600 22px/30px var(--roboto);
                                                    font-size: 24px;
                                                }
                                                
                                                .site-main>.services-area .services {
                                                    background: rgba(248, 252, 253, 0.973);
                                                    padding: 2rem 9px;
                                                    width: 220px;
                                                    /* height: 110px; */
                                                    margin: 2rem .5rem;
                                                    text-align: center;
                                                    transition: box-shadow .7s ease;
                                                }
                                                
                                                .site-main>.services-area .services:hover {
                                                    box-shadow: var(--box-shadow);
                                                }
                                                /*  END services Area */
                                                /* Projet Area */
                                                
                                                .site-main .project-area {
                                                    padding: 4rem 0;
                                                }
                                                
                                                .project-title h1 {
                                                    font-size: 20px;
                                                }
                                                
                                                .grid h4 {
                                                    font-size: 15px;
                                                }
                                                
                                                .grid img {
                                                    width: 250px;
                                                    height: 250px;
                                                }
                                                
                                                .site-main .project-area .button-group button {
                                                    background: transparent;
                                                    border: none;
                                                    font: normal 500 16px/13px var(--roboto);
                                                    text-transform: uppercase;
                                                }
                                                
                                                .site-main .project-area .button-group button+button {
                                                    padding-left: 3rem;
                                                }
                                                
                                                .site-main .project-area .grid .our-project>.title h4 {
                                                    font: normal 400 25px/12px var(--roboto);
                                                }
                                                
                                                .site-main .project-area .grid .our-project .img a:hover img {
                                                    filter: brightness(1.1)drop-shadow(1px 8px 30px #b1afaf)
                                                }
                                                /*End Projet Area */
                                                /* About Me area */
                                                
                                                .client-row {
                                                    border: 1px solid black;
                                                    box-shadow: 2px 2px 2px 2px #000000;
                                                    margin: 1rem;
                                                    padding: 2px auto;
                                                }
                                                
                                                .about-title h1 {
                                                    font-size: 24px;
                                                }
                                                
                                                .site-main .about-area .about-title p {
                                                    padding: 1rem 2rem;
                                                }
                                                
                                                .site-main .about-area .client {
                                                    background: #ffffff10;
                                                    box-shadow: 2px 2px 5px #ffffff10;
                                                    margin: 3rem 0rem;
                                                }
                                                
                                                .site-main .about-area .client .client-img {
                                                    padding: 2rem;
                                                }
                                                
                                                .site-main .about-area .client .about-client {
                                                    padding-top: 2rem;
                                                }
                                                
                                                .site-main .about-area .client .about-client h4 {
                                                    font: normal 500 21px/20px var(--roboto);
                                                }
                                                
                                                .site-main .about-area .client .about-client p {
                                                    font-size: 14px;
                                                }
                                                
                                                .site-main .about-area .owl-caresoul .owl-item {
                                                    display: inline-block;
                                                    justify-content: center;
                                                    padding: 0 1.5rem;
                                                }
                                                
                                                .site-main .about-area .owl-caresoul .owl-dots .owl-dot .active span {
                                                    background: var(--primary-color);
                                                    width: 12px;
                                                    height: 12px;
                                                }
                                                /* End About Me area */
                                                /*Suscribe Area  */
                                                
                                                .site-main .suscribe-us-area .suscribe {
                                                    background: url(../img/subscribe-bg.png) no-repeat;
                                                    width: 600px;
                                                    height: 300px;
                                                    margin-top: 3rem auto;
                                                }
                                                
                                                .site-main .suscribe-us-area .suscribe .suscribe-title h4 {
                                                    font: normal 600 30px/ 30px var(--roboto);
                                                    color: whitesmoke;
                                                }
                                                
                                                .site-main .suscribe-us-area .suscribe .suscribe-title p {
                                                    color: whitesmoke;
                                                    padding: 1rem 2rem;
                                                }
                                                
                                                .site-main .suscribe-us-area .suscribe form .input-textbox input {
                                                    width: 400px;
                                                    padding: 1.5rem 1rem;
                                                    border: 1px solid whitesmoke;
                                                    background: transparent;
                                                    color: white;
                                                    font: normal 500 17px/20px var(--roboto);
                                                }
                                                
                                                .site-main .suscribe-us-area .suscribe form .input-textbox input::placeholder {
                                                    color: whitesmoke;
                                                }
                                                
                                                .site-main .suscribe-us-area .suscribe form .btn-submit button {
                                                    background: whitesmoke;
                                                    color: #000;
                                                    padding: .7rem 2rem;
                                                }
                                                /* End Suscribe Area  */
                                                /* footer area */
                                                
                                                footer .footer-area {
                                                    padding: 5rem 0;
                                                    background: url(../img/footer-bg.png) no-repeat;
                                                }
                                                
                                                footer.footer-area.social h5 {
                                                    font: normal 500 23px/30px var(--roboto);
                                                }
                                                
                                                footer.footer-area .social a>i {
                                                    font-size: 22px;
                                                    padding: 1rem;
                                                    color: var(--border-color);
                                                }
                                                
                                                footer.footer-area .social a:hover>i {
                                                    color: var(--primary-color);
                                                }
                                                
                                                footer.footer-area .social a:active>i {
                                                    color: var(--primary-color2);
                                                }
                                                /*End footer area */